<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Hello World!</title>
    </head>
    <body>
        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
        <p>
        <hr/>
        <!--
        <ul>
            <li><a href="./users">Users</a></li>
            <li><a href="./bicycles">Bicycles</a></li>
            <li><a href="./locations">Locations</a></li>
            <li><a href="./arrives">Arrives</a></li>
            <li><a href="./rents">Rents</a></li>
        </ul>
        -->
        <div sec:authorize="hasRole('ADMIN')">
            This content is only shown to administrators.
            <li><a href="./users">Users</a></li>
            <li><a href="./bicycles">Bicycles</a></li>
            <li><a href="./locations">Locations</a></li>
            <li><a href="./arrives">Arrives</a></li>
            <li><a href="./rents">Rents</a></li>
        </div>
        
        <div sec:authorize="hasRole('USER')">
            This content is only shown to users.
            <li><a href="./bicycles">Bicycles</a></li>
            <li><a href="./locations">Locations</a></li>
            <li><a href="./arrives">Arrives</a></li>
        </div>
    </body>
</html>